<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<title>Gestion des Produits</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Gestion Produits</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"   routerLink="/produits" >Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Produits
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  routerLink="/add-produit">Ajouter</a>
        <a class="dropdown-item"  href="#">Lister</a>
      </div>
    </li>
    </ul>
    
    <ul class="navbar-nav ml-auto" > 
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      [username]
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">login</a>
        <a class="dropdown-item" href="#">logout</a>
          <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>
  </ul>
</nav>
</body>
</html>

<router-outlet></router-outlet>
